/* HTML5 Boilerplate  */

article, aside, details, figcaption, figure, footer, header, hgroup, nav, section { display: block; }
audio, canvas, video { display: inline-block; *display: inline; *zoom: 1; }
audio:not([controls]) { display: none; }
[hidden] { display: none; }

html { font-size: 100%; -webkit-text-size-adjust: 100%; -ms-text-size-adjust: 100%; }
html, button, input, select, textarea { font-family: sans-serif; color: #222; }
body { margin: 0; font-size: 1em; line-height: 1.4; }


abbr[title] { border-bottom: 1px dotted; }
b, strong { font-weight: bold; }
blockquote { margin: 1em 40px; }
dfn { font-style: italic; }
hr { display: block; height: 1px; border: 0; border-top: 1px solid #ccc; margin: 1em 0; padding: 0; }
ins { background: #ff9; color: #000; text-decoration: none; }
mark { background: #ff0; color: #000; font-style: italic; font-weight: bold; }
pre, code, kbd, samp { font-family: monospace, serif; _font-family: 'courier new', monospace; font-size: 1em; }
pre { white-space: pre; white-space: pre-wrap; word-wrap: break-word; }


table { border-collapse: collapse; border-spacing: 0; }
td { vertical-align: top; }

.clearfix:before, .clearfix:after { content: ""; display: table; }
.clearfix:after { clear: both; }
.clearfix { *zoom: 1; }

@media print {
  * { background: transparent !important; color: black !important; box-shadow:none !important; text-shadow: none !important; filter:none !important; -ms-filter: none !important; } 
  a, a:visited { text-decoration: underline; }
  a[href]:after { content: " (" attr(href) ")"; }
  abbr[title]:after { content: " (" attr(title) ")"; }
  .ir a:after, a[href^="javascript:"]:after, a[href^="#"]:after { content: ""; } 
  pre, blockquote { border: 1px solid #999; page-break-inside: avoid; }
  thead { display: table-header-group; } 
  tr, img { page-break-inside: avoid; }
  img { max-width: 100% !important; }
  @page { margin: 0.5cm; }
  p, h2, h3 { orphans: 3; widows: 3; }
  h2, h3 { page-break-after: avoid; }
}


/* flexMenu demo Styles */



h1, h2 {
  color: #006363;
  font-weight: 700;
  font-family: 'Quantico', sans-serif;
}





.menu{
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
}

.menu > li:first-child {
  margin-left: 0;
}




.clear {
  clear: both;
}

/* flexMenu styles */
.flexMenu-viewMore{
 position: relative;
}
.flexMenu-viewMore > a {
  background-color: #FF9640;

}

.flexMenu-viewMore.active > a, .flexMenu-viewMore > a:hover {
  background-color: #FF9640;
}

.flexMenu-popup {
  list-style-type: none;
  position: absolute;
  background-color: #8BB4C0;
  border:1px solid #000;
    top: 34px;
    right: 0px;
    z-index: 10;

}
.flexMenu-popup:hover{
  
}
.flexMenu-popup a {
  display: block; 
}

.flexMenu-popup a:hover {
  background-color: #000;
  color: #fff;
  display: block;
}

